<!----------------------------------------------------------------------------------------------------------------------
  -- default.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <page-wrapper>
        <b-container>
            <b-card class="mt-4 drop-shadow">
                <slot name="default"></slot>
            </b-card>
        </b-container>
    </page-wrapper>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .default-layout {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Components
    import PageWrapper from '../components/pageWrapper.vue';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'DefaultLayout',
        components: { PageWrapper },
        props: [ 'page' ]
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
