//----------------------------------------------------------------------------------------------------------------------
// Custom Theme SCSS
//
// Note: Mixins and variable references are perfectly acceptable here.
//
//----------------------------------------------------------------------------------------------------------------------

html, body {
    background-color: #f7f7f7;
    scroll-behavior: smooth;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

//----------------------------------------------------------------------------------------------------------------------
