<!----------------------------------------------------------------------------------------------------------------------
  -- pageWrapper.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div class="page-wrapper">
        <site-header></site-header>
        <div class="content">
            <slot name="default"></slot>
        </div>
        <site-footer></site-footer>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .page-wrapper {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Components
    import SiteHeader from './siteHeader.vue';
    import SiteFooter from './siteFooter.vue';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'PageWrapper',
        components: {
            SiteHeader,
            SiteFooter
        }
    }
</script>

<!--------------------------------------------------------------------------------------------------------------------->
