<!----------------------------------------------------------------------------------------------------------------------
  -- siteHeader.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <b-navbar id="site-header" toggleable="lg" type="dark" variant="primary">
        <b-navbar-brand to="/">
<!--            <img src="../assets/images/agrinet-nav-logo.png" class="d-inline-block align-top" alt="AgriNet" />-->
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item to="/" class="bordered">
                    {{ siteName }}
                </b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
<!--            <b-navbar-nav class="ml-auto">-->
<!--                <b-nav-item-dropdown v-for="(pageList, name) in categories" :key="name" class="bordered" :text="name" right>-->
<!--                    <b-dropdown-item v-for="page in pageList" :key="page.slug" :to="page.slug">-->
<!--                        {{ page.name }}-->
<!--                    </b-dropdown-item>-->
<!--                </b-nav-item-dropdown>-->

<!--                <b-nav-form class="ml-2" @submit.stop.prevent>-->
<!--                    <v-select-->
<!--                        ref="pageSearch"-->
<!--                        v-model="selectedPage"-->
<!--                        class="search"-->
<!--                        placeholder="Search Docs..."-->
<!--                        :reduce="page => page.slug"-->
<!--                        :options="pages"-->
<!--                        :filter-by="filter"-->
<!--                        label="name"-->
<!--                        @input="onHit"-->
<!--                    >-->
<!--                    </v-select>-->
<!--                </b-nav-form>-->
<!--            </b-navbar-nav>-->
        </b-collapse>
    </b-navbar>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    #site-header {
        .search {
            min-width: 300px;
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Imports go here.

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'SiteHeader',
        data()
        {
            return {
                selectedPage: undefined
            };
        },
        computed: {
            // categories()
            // {
            //     return pageMan.getCategories();
            // },
            // pages()
            // {
            //     return pageMan.pageData;
            // },
            siteName()
            {
                return this.$siteConfig.title;
            }
        },
        methods: {
            // onHit(slug)
            // {
            //     if(slug)
            //     {
            //         this.$nextTick()
            //             .then(() =>
            //             {
            //                 this.$refs.pageSearch.clearSelection();
            //                 this.$router.push(slug);
            //             });
            //     } // end if
            // },
            // filter(option, label, search)
            // {
            //     search = (search || '').toLowerCase();
            //     const name = (option.name || '');
            //     const content = (option.content || '');
            //
            //     return name.localeCompare(search, undefined, { sensitivity: 'accent' }) > 0
            //         || content.localeCompare(search, undefined, { sensitivity: 'accent' }) > 0;
            // }
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
