<!----------------------------------------------------------------------------------------------------------------------
  -- siteFooter.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <ul id="site-footer" class="list-inline mt-2">
        <li class="list-inline-item">
            <a :href="projectURL">
                <fa :icon="[ 'fab', 'gitlab' ]"></fa>
                GitLab Project
            </a>
        </li>
        <li class="list-inline-item">
            <a :href="issuesURL">
                <fa icon="bug"></fa>
                Report Issue
            </a>
        </li>
    </ul>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    #site-footer {
        text-align: center;

        &.has-sidebar {
            padding-left: 260px;
        }
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    // Imports go here.

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'SiteFooter',
        computed: {
            projectURL()
            {
                return '';
            },
            issuesURL()
            {
                return '';
            }
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
